*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
    font-family: "Inter", sans-serif;
}
.sarif{
    font-family: "Noto Serif", serif;
}
.display-flex{
    display: flex;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
header {
    padding-top: 30px;
}
header nav{
height: 71px;
display: flex;
align-items: center;
justify-content: space-between;
}
header nav .logo{
    max-width: 135px;
    height: 82px;
}
header nav ul {
    display: flex;
    gap: 48px;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #8987A1;
}
header nav ul li:first-child a{
    font-weight: bold;
    color: #252432;
}
header nav ul li:last-child a{
    color: #000000;
    display: flex;
    gap: 10px;
    align-items: center;
}
.banner {
    padding-top:216px ;
}
.banner-content{
    display: flex;
    align-items: center;
}
.banner-content h1{
    color: #000000;
    font-size: 4.1em;
}
span{
    color: #E95A08;
}
.banner-content h2{
    color: #E95A08;
    font-size: 4.1em;
}
.banner-content h2{
    padding: 13px 0;
}
.banner-content p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;

}

/* card sections start  */


.card-section{
    padding-top: 120px;
}
.card-section h1{
    font-size: 3.1em;
    text-align: center;
    margin-bottom: 16px;
}
.card-section p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
}
.card-caontainer{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.card-caontainer .card img{
    width: 100%;
}
.card-caontainer .card .inter{
    font-size: 1.5em;
    color: #111111;
    line-height: 150%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-caontainer .card .p2{
    color: #111111;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.card-caontainer .card button{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E95A08;
    border: none;
    font-weight: 600;
    color: #ffffff;
    font-family: "Inter", sans-serif;

}


/* flower planets section  */

.flower-plants-section{
    padding-top: 210px;
}
.second-container{
    display: flex;
    gap: 60px;
    align-items: center;
}
.flower-plants-section .second-container h1{
    font-size: 4.1em;
    color: #000000;
    margin-bottom: 20px;
}

.flower-plants-section .second-container ul li{
    max-width: 540px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}




@media screen and (max-width:576px){
    header nav {
        padding-left: 30px;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
}
.banner{
    padding-top: 28pz;
}
.banner-content {
    flex-direction: column-reverse;
}
.banner-text{
    padding-top: 30px;
    max-width: 90%;
}
.banner-content h1 {
    font-size: 24px;
}
.banner h2{
    font-size: 24px;
}
.banner .banner-text p{
    max-width: 90%;
}
.banner-content img{
    width: 95%;
    margin-left: 20px;
}
    .card-section p {
    max-width:95%;
    margin: 0 auto;
}
    .card-caontainer{
    grid-template-columns: repeat(2,1fr);

}
.second-container{
    flex-direction: column;
}
.flower-plants-section{
    padding-top: 41px;
}
.second-container{
    gap: 18px;
}
#fh{
    font-size: 24px;
}
.flower-texts{
    padding-left: 30px;
}
ul{
    list-style: none;
}
.flower-plants-section .second-container img{
    max-width: 100%;
}

}
